:root {
    --font-family: Helvetica, Arial, sans-serif;
    --text-color-links: #0077c5;
    --bg-color-primary: #eceef1;
    --bg-color-primary-opacity: #eceef100;
    --bg-color-alternate: #f8f8ff;
    --text-color-subs: #666666;
    --bg-color-links: #486de9;
    --bg-color-links-hover: #001352;
    --padding-top: 10vh;
    --padding-bottom: 2vh;
}

* {
    margin: 0px;
    padding: 0px;
 }

html {
    scroll-behavior: smooth;
}

body {
    margin: 0%;
    font-family: var(--font-family);
    font-size: 22px;
    background-color: var(--bg-color-primary);
    text-align: center;
}

.navbar {
    width: 100%;
    text-align: center;
    margin: 0%;
    background-color: var(--bg-color-primary-opacity);
    /* position: fixed; */
    top: 0;
}
.scrolled {
    background-color: var(--bg-color-primary);
}

ul {
    padding: 10px 0%;
}

li {
    display: inline;
}

li a {
    text-decoration: none;
    color: var(--text-color-links);
    padding: 10px;
}

li a:hover {
    color: var(--bg-color-links-hover);
    cursor: pointer;
    text-decoration: underline;
}

.masthead {
    height: 100vh;
    width: 100%;
    text-align: center;
    background-color: var(--bg-color-primary);
    background-image: url(../img/bg.svg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: 90%;    
}

.title {
    font-size: 80px;
    padding-top: 30vh;
    margin: 0%;
}

.subtitle {
    font-size: 25px;
    padding-top: 20;
    color: var(--text-color-subs);
    margin: 0%;
}

.section-light {
    width: 100%;
    min-height: 100vh;
    padding-bottom: var(--padding-top);
    background-color: var(--bg-color-alternate);
}

.section-light-wrap {
    width: 100%;
    padding-bottom: var(--padding-top);
    background-color: var(--bg-color-alternate);
}

.section-dark {
    width: 100%;
    min-height: 100vh;
    padding-bottom: var(--padding-top);
    background-color: var(--bg-color-primary);
}

.section-title {
    font-size: 50px;
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    color: var(--text-color-subs);
}

p {
    text-align: left;
    padding: 0% 60px;
    line-height: 40px;
}

.text-small {
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    font-style: italic;
    font-family: "Droid Serif";
}

.contact-form {
    width: 100%;
}
 
.contact-field {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 20px 10px;
    border: solid 1px black;
    box-shadow: none;
    border-radius: 5px;
    font-size: 20px;
    font-family: var(--font-family);
}

textarea {
    resize: none;
    height: 100px;
}

.submit {
    margin: 10px auto;
    padding: 20px 100px;
    box-shadow: none;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    color: var(--bg-color-alternate);
    font-family: var(--font-family);
    background-color: var(--bg-color-links);
}

.submit:hover {
    background-color: var(--bg-color-links-hover);
    cursor: pointer;
}

.footer {
    background-color: var(--bg-color-primary);
    padding: 20px 0;
}

.footer p {
    text-align: center;
}

.copyright {
    font-size: 18px;
}

@media only screen and (max-width: 500px) {
    .title {
        font-size: 50px;
        padding-top: 20vh;
    }

    .subtitle {
        padding-top: 30px;
    }

    p {
        padding: 0% 25px;
        font-size: 20px;
    }

    .section-title {
        font-size: 32px;
    }

    li a {
        margin: 0 3px;
    }
  }